<ion-header>

    <ion-navbar>
        <ion-title>Agent Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card>
        <div *ngIf="requestService.agentAccepted['is_profile_photo'] == 1; then img else imgPlaceholder"></div>
        <ng-template #img>
            <img src="{{'https://s3-us-west-2.amazonaws.com/zugent/profilephotos/' + requestService.agentId + '/original.jpg'}}" />
        </ng-template>
        <ng-template #imgPlaceholder>
            <img src="./assets/imgs/user-0.jpg" />
        </ng-template>
        <ion-card-content>
            <ion-card-title text-center>
                <div *ngIf="requestService.agentAccepted['first_name']; then name else namePlaceholder"></div>
                <ng-template #name>
                    {{requestService.agentAccepted['first_name']}} {{requestService.agentAccepted['last_name']}}
                    <ion-icon name="facebook"></ion-icon>
                    <p>{{requestService.agentAccepted['company_name']}}</p>
                </ng-template>
                <ng-template #namePlaceholder>
                    John Doe
                    <ion-icon name="facebook"></ion-icon>
                    <p>Zugent</p>
                </ng-template>
            </ion-card-title>
            <div *ngIf="requestService.agentAccepted['bio']; then bio else bioPlaceholder"></div>
            <ng-template #bio>
                <p>
                    {{requestService.agentAccepted['bio']}}
                </p>
            </ng-template>
            <ng-template #bioPlaceholder>
                <p text-center>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </ng-template>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <a padding-left padding-right href="tel:requestService.agentAccepted" class="ion-button icon-left clear small no-underline v-center" float-right>
                    <ion-icon name="call" style="display: inline-flex; align-items: center;"></ion-icon>
                    <div style="display: inline; text-decoration: none; margin-left: 3px;">Call</div>
                </a>
            </ion-col>
            <ion-col>
                <button (click)="showEmailModal()" ion-button icon-left clear small>
					<ion-icon name="mail"></ion-icon>
					<div>Email</div>
				</button>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>