<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>Please fill up the following fields</h3>

  <ion-list margin-top>

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input placeholder="John" type="text" [(ngModel)]="profileService.firstName" ng-required="string"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input placeholder="Doe" type="text" [(ngModel)]="profileService.lastName" ng-required="string"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input placeholder="johndoe@anon.com" type="email" [(ngModel)]="profileService.email" ng-required="string"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Phone Number</ion-label>
      <ion-input placeholder="+12345678900" type="text" [(ngModel)]="profileService.phoneNumber" ng-required="string"></ion-input>
    </ion-item>

  </ion-list>

  <div text-center>
    <button ion-button (click)="saveProfile()">Save</button>
    <!-- <button ion-button (click)="goToRequest()">Go to request ></button> -->
    <button (click)="goToRequest()" ion-button clear icon-end color="primary">
      Go to Request Page
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
