<ion-header>

    <ion-navbar>
        <ion-title>Email Content</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-textarea placeholder="Enter your message to the agent..." id="email-message" rows="10" [(ngModel)]="emailMessage"></ion-textarea>
    <button *ngIf="emailMessage" float-right margin-top ion-button margin-right icon-end (click)="sendMessage()">Send Message
    <ion-icon name="mail"></ion-icon>
    </button>

</ion-content>