page-email-modal {
    #email-message {
        width: calc(100% - 20px);
        margin: auto;
        height: 80%;
        box-shadow: 2px 2px 2px #000;
        border-top: 1px solid rgba(44, 44, 44, 0.508);
        border-left: 1px solid rgba(44, 44, 44, 0.508);
        margin-top: 15px;
        padding: 10px 15px;
    }
}