<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 text-center page-header>My Profile</h3>

    <ion-grid margin-top>
        <ion-row bordered>
            <ion-col col-4 profile-label>
                First Name
            </ion-col>
            <ion-col col-8 profile-value>
                {{profileService.firstName ? profileService.firstName : 'Not set'}}
            </ion-col>
        </ion-row>
        <ion-row bordered>
            <ion-col col-4 profile-label>
                Last Name
            </ion-col>
            <ion-col col-8 profile-value>
                {{profileService.lastName ? profileService.lastName : 'Not set'}}
            </ion-col>
        </ion-row>
        <ion-row bordered>
            <ion-col col-4 profile-label>
                Email
            </ion-col>
            <ion-col col-8 profile-value>
                {{profileService.email ? profileService.email : 'Not set'}}
            </ion-col>
        </ion-row>
        <ion-row bordered>
            <ion-col col-4 profile-label>
                Phone Number
            </ion-col>
            <ion-col col-8 profile-value>
                {{profileService.phoneNumber ? profileService.phoneNumber : 'Not set'}}
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-row>
        <ion-col>
            <button ion-button (click)="editProfile()">Edit</button>
            <!-- <button ion-button (click)="goToRequest()">Go to request ></button> -->
            <button (click)="goToRequest()" ion-button clear icon-end color="primary">
                Go to Request Page
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
    </ion-row>
</ion-content>