page-profile {
    [profile-label] {
        font-weight: lighter;
        font-size: 14px;
    }
    [profile-value] {
        font-weight: 500;
        color: #666;
    }
    [page-header] {
        color: #666;
    }
    ion-row[bordered] {
        border-bottom: 2px solid #00acac;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    ion-col {
        text-align: center;
    }
}