<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Start</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <!-- <ion-toolbar>
                <ion-buttons end>
                    <button ion-button color="primary">Skip</button>
                </ion-buttons>
            </ion-toolbar> -->
            <img [src]="slide.image" class="slide-image" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide>
        <ion-slide>
            <ion-toolbar>
            </ion-toolbar>
            <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
            <h2 class="slide-title">Start with the first step</h2>
            <button (click)="goToProfile()" ion-button large clear icon-end color="primary">
                Set up my Profile
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>