<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Listings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/imgs/amsterdam.jpg" />
        <div class="card-title">Amsterdam</div>
        <div class="card-subtitle">64 Listings</div>
    </ion-card>

    <ion-card>
        <img src="../../assets/imgs/sanfrancisco.jpg" />
        <div class="card-title">San Francisco</div>
        <div class="card-subtitle">72 Listings</div>
    </ion-card>

    <ion-card>
        <img src="../../assets/imgs/madison.jpg" />
        <div class="card-title">Madison</div>
        <div class="card-subtitle">28 Listings</div>
    </ion-card>
</ion-content>