// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.card-background-page {
    ion-card {
        cursor: pointer;
        position: relative;
        text-align: center;
        img {
            height: 200px;
            width: 100%;
        }
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}

.toolbar-background-md {
    border-color: color($colors, primary, light);
    background: color($colors, primary, light);
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #ffffff;
}

ion-spinner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    right: 0;
}

ion-spinner * {
    stroke: color($colors, primary) !important;
    fill: color($colors, primary) !important;
}

.no-underline {
    text-decoration: none;
}

.v-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

.v-center-2 {
    position: absolute;
    top: 40%;
    transform: (translateY(-40%));
}

[float-right] {
    float: right;
}

[float-left] {
    float: left;
}

// .scroll-content {
//     border-color: color($colors, secondary, light);
//     button.item {
//       background-color: color($colors, secondary, light);
//     }
// }