<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Request Agent</ion-title>
        <!-- <ion-buttons end>
            <button ion-button (click)="initMap()"><ion-icon name="refresh"></ion-icon>Clear Data</button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-spinner name="circles" *ngIf="this.loading == true" text-center></ion-spinner>
    <ion-card *ngIf="gotLocation == false" class="v-center-2">
        <ion-card-header text-center>
            How Does This Work?
        </ion-card-header>
        <ion-card-content text-center>
            Simply start by tapping the button below followed by tapping on the "request agent" button.
        </ion-card-content>
    </ion-card>
    <button id="get-location-button" ion-button full (click)="loadMap()" *ngIf="gotLocation == false"><ion-icon style="padding-right:5px;" name="map"></ion-icon>Get My Location</button>
    <div #map id="map">
    </div>
    <div class="floating-map-buttons" *ngIf="gotLocation == true">
        <button ion-button small (click)="testApi()">Reload the Map</button>
        <button ion-button small *ngIf="requestService.accepted" (click)="showAgentDetails()">Show Agent Details</button>
        <button ion-button small *ngIf="requestService.count == 0" (click)="requestAgent()">Request Agent</button>
    </div>
</ion-content>