request-agent {
    .scroll {
        height: 100%
    }
    #map {
        width: 100%;
        height: 100%;
    }
    .floating-map-buttons {
        margin: auto;
        position: absolute;
        left: 0;
        bottom: 15%;
        right: 0;
        height: 85px;
        text-align: center;
        z-index: 2;
    }
    #get-location-button {
        margin: auto;
        position: absolute;
        bottom: 0;
        height: 85px;
        text-align: center;
        z-index: 2;
    }
}